---

# Deploy tang containers

- name: "Ensure prerequisites"
  ansible.builtin.include_tasks: "prerequisites.yml"

- name: "Fetch latest containers to host"
  ansible.builtin.include_tasks: "get_container.yml"
  loop: "{{ containers }}"
  loop_control:
    loop_var: container

- name: "Configure container startup"
  ansible.builtin.include_tasks: "configure_container.yml"
  loop: "{{ containers }}"
  loop_control:
    loop_var: container

- name: "Test Tang Server"
  ansible.builtin.include_tasks: "verify_deployment.yml"
