---
# This set of tasks checks if a given container deployment
# container.test_shell_command runs and returns a result
# we assert that the result standout is the expected result
# e.g. $(echo test | clevis encrypt tang '{"url":"http://localhost:8080"}' -y | clevis decrypt) == test
# the implementer is expected to ensure no false positives or false negatives are possible

- name: "Test the target tang server" # noqa: command-instead-of-shell
  ansible.builtin.shell: "{{ container.test_shell_command }}"
  register: test_result
  changed_when: true

- name: "Assert that our test value was encrypted/decrypted"
  ansible.builtin.assert:
    that: test_result.stdout == container.test_expected_result
